<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetBud</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">

    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</head>

<body>
    <div>
        <header>
            <h1>
                <a href="/" class="">BetBud</a>
            </h1>

            <!-- Navbar start -->
            <nav id="navbar"
                class="sticky top-0 z-40 flex w-full flex-row justify-end bg-gray-700 px-4 sm:justify-between">
                <ul class="breadcrumb hidden flex-row items-center py-4 text-lg text-white sm:flex">
                    <li class="inline">
                        <a href="#">Main</a>
                    </li>
                    <li class="inline">
                        <span>Homepage</span>
                    </li>
                </ul>
                <button id="btnSidebarToggler" type="button" class="py-4 text-2xl text-white hover:text-gray-200">
                    <svg id="navClosed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <svg id="navOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="hidden h-8 w-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </nav>
            <!-- Navbar end -->

            <!-- Sidebar start-->
            <div id="containerSidebar"
                class="z-40 transform transition-transform duration-500 ease-in-out bg-gray-200 w-1/3 fixed right-0 top-0 h-full overflow-auto hidden">
                <div class="navbar-menu relative z-40">
                    <nav id="sidebar"
                        class="flex left-0 bottom-0 w-fit h-fit flex-col overflow-y-auto bg-gray-700 pt-6 pb-8 lg:h-full">

                        <!-- Conditionally render login or logout links -->
                        {{!-- {{#if logged_in}} --}}
                        <!-- one category / navigation group -->
                        <div class="px-4 pb-6">
                            <h3 class="mb-2 text-xs font-medium uppercase text-gray-500">
                                BetBud
                            </h3>
                            <button id="btnSidebarHider" type="button"
                                class="py-4 text-2xl text-white hover:text-gray-200">
                                <lord-icon src="https://cdn.lordicon.com/zpcieyfp.json" trigger="hover"
                                    colors="primary:#ffffff,secondary:#08a88a" stroke="100"
                                    style="width:25px;height:25px" id="icoBtnSidebar">
                                </lord-icon>
                            </button>

                            <ul class="mb-8 text-sm font-medium content-center">
                                <li class="flex-row items-stretch">
                                    <lord-icon src="https://cdn.lordicon.com/osuxyevn.json" trigger="morph"
                                        colors="primary:#ffffff" state="morph-2" style="width:25px;height:25px"
                                        id="icoHome">
                                    </lord-icon>
                                    <a class="active flex rounded py-3 pl-4 pr-4 text-gray-50 hover:bg-gray-600"
                                        href="#homepage">
                                        <span class="select-none">Home</span>
                                    </a>
                                </li>
                                <li class="flex-row items-stretch">
                                    <lord-icon src="https://cdn.lordicon.com/bhfjfgqz.json" trigger="hover"
                                        colors="primary:#ffffff" style="width:25px;height:25px" id="icoProfile">
                                    </lord-icon>
                                    <a class="flex rounded py-3 pl-4 pr-4 text-gray-50 hover:bg-gray-600" href="#link1">
                                        <span class="select-none">My profile</span>
                                    </a>
                                </li>
                                <li class="flex-row items-stretch">
                                    <lord-icon src="https://cdn.lordicon.com/gbxgskdd.json" trigger="hover"
                                        colors="primary:#ffffff" state="hover" style="width:25px;height:25px"
                                        id="icoBuds">
                                    </lord-icon>
                                    <a class="flex  rounded py-3 pl-4 pr-4 text-gray-50 hover:bg-gray-600"
                                        href="#link1">
                                        <span class="select-none">My buds</span>
                                    </a>
                                </li>
                                <li class="flex-row items-stretch">
                                    <lord-icon src="https://cdn.lordicon.com/itnlluqc.json" trigger="hover"
                                        colors="primary:#ffffff" state="hover" style="width:25px;height:25px"
                                        id="icoBets">
                                    </lord-icon>
                                    <a class="flex rounded py-3 pl-4 pr-4 text-gray-50 hover:bg-gray-600" href="#link1">
                                        <span class="select-none">My bets</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button class="no-button" id="logout">logout</button>
                        {{!-- {{else}} --}}
                        {{!-- Change the link for the updated URL for LOGIN --}}
                        {{!-- <a href="/login">Login</a>
                        {{/if}} --}}
                    </nav>
                </div>
                <div class="mx-auto lg:ml-80"></div>
            </div>
            <!-- Sidebar end -->
        </header>

        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{body}}}
        </main>

        <footer>

        </footer>
    </div>

    <script>
        var toggleButton = document.getElementById('btnSidebarToggler');
        const sidebar = document.getElementById('containerSidebar');

        toggleButton.addEventListener('click', function () {
            if (sidebar.classList.contains('hidden')) {
                sidebar.classList.remove('translate-x-full');
                sidebar.classList.remove('hidden');
            } else {
                sidebar.classList.add('hidden');
            }
        });

        var hideButton = document.getElementById('btnSidebarHider');
        hideButton.addEventListener('click', function () {
            sidebar.classList.add('hidden');
        });
    </script>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>