
<style>
body {
  background-color: black;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust the spacing between checkboxes */
}
</style>

<header class="flex items-center justify-center h-16 bg-black">
  <h3 class="text-white text-lg">Create a new bet</h3>
</header>

{{!-- checkbox for what are you betting over start --}}

<div class="h-screen w-screen bg-black-900 flex flex-col items-center justify-center">
  <h3 class="text-white text-center mb-8">What are you betting over?</h3>
  <div class="flex">
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me1" class="peer hidden" />
      <label for="choose-me1" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Sports
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me2" class="peer hidden" />
      <label for="choose-me2" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Cinema
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me3" class="peer hidden" />
      <label for="choose-me3" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        School
      </label>
    </div>
  </div>
</div>
{{!-- checkbox for what are you betting over end --}}


{{!-- checkbox for what are you betting start --}}

<div class="h-screen w-screen bg-black-900 flex flex-col items-center justify-center">
  <h3 class="text-white text-center mb-8">What are you betting?</h3>
  <div class="flex">
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me4" class="peer hidden" />
      <label for="choose-me4" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Dish
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me5" class="peer hidden" />
      <label for="choose-me5" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Cinema
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me6" class="peer hidden" />
      <label for="choose-me6" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Giftcard
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me4" class="peer hidden" />
      <label for="choose-me4" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Drink
      </label>
    </div>
  </div>
</div>

<div class="flex justify-center items-center h-screen">
  <button class="flex shadow w-32 block border-blue-600 border-2 rounded-full focus:outline-none focus:border-blue-600 px-4 py-2 text-blue-600 hover:bg-blue-600 hover:text-white">
    <span class="mx-auto">Create bet</span>
  </button>
</div>

{{!-- checkbox for what are you betting end --}}



