
<style>
body {
  background-color: black;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust the spacing between checkboxes */
}
</style>

<header class="flex items-center justify-center h-16 bg-black">
  <h3 class="text-white text-lg">Create a new bet</h3>
</header>

{{!-- checkbox for what are you betting over start --}}

<div class="h-screen w-screen bg-black-900 flex flex-col items-center justify-center">
  <h3 class="text-white text-center mb-8">What are you betting over?</h3>
  <div class="flex">
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me1" class="peer hidden" />
      <label for="choose-me1" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Sports
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me2" class="peer hidden" />
      <label for="choose-me2" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Cinema
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me3" class="peer hidden" />
      <label for="choose-me3" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        School
      </label>
    </div>
  </div>
</div>
{{!-- checkbox for what are you betting over end --}}


{{!-- checkbox for what are you betting start --}}

<div class="h-screen w-screen bg-black-900 flex flex-col items-center justify-center">
  <h3 class="text-white text-center mb-8">What are you betting?</h3>
  <div class="flex">
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me4" class="peer hidden" />
      <label for="choose-me4" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Dish
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me5" class="peer hidden" />
      <label for="choose-me5" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Cinema
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me6" class="peer hidden" />
      <label for="choose-me6" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Giftcard
      </label>
    </div>
    <div class="checkbox-container bg-black">
      <input type="checkbox" id="choose-me4" class="peer hidden" />
      <label for="choose-me4" class="select-none cursor-pointer rounded-lg border-2 border-gray-200
        py-3 px-6 font-bold text-gray-200 transition-colors duration-200 ease-in-out
        peer-checked:bg-gray-200 peer-checked:text-gray-900 peer-checked:border-gray-200">
        Drink
      </label>
    </div>
  </div>
</div>

<div class="relative text-lg bg-transparent text-gray-800">
  <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
	<input class="bg-transparent border-none mr-3 px-2 leading-tight focus:outline-none" type="text" placeholder="Look for a bud to invite...">
	<button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
      <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
          <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"/>
      </svg>
	</button>
  </div>
</div>

<div class="flex items-center justify-center min-h-screen bg-gray-900">
	<div class="col-span-12">
		<div class="overflow-auto lg:overflow-visible ">
			<table class="table text-gray-400 border-separate space-y-6 text-sm">
				<tbody>
					<tr class="bg-gray-800">
						<td class="p-3">
							<div class="flex align-items-center">
								<div class="ml-3">
									<div class="">username</div>
									<div class="text-gray-500">id number</div>
								</div>
							</div>
						</td>
						<td class="p-3 ">
							<a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
								<i class="material-icons-outlined text-base">invite</i>
							</a>
						</td>
					</tr>
          </tbody>
			</table>
		</div>
	</div>
</div>
<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style>

<div class="flex justify-center items-center h-screen">
  <button class="flex shadow w-32 block border-blue-600 border-2 rounded-full focus:outline-none focus:border-blue-600 px-4 py-2 text-blue-600 hover:bg-blue-600 hover:text-white">
    <span class="mx-auto">Create bet</span>
  </button>
</div>

{{!-- checkbox for what are you betting end --}}



