        <div>
            <img  class="w-full h-20" src="/tophome.png">
        </div>

        <div class="text-center my-8 text-3xl text-white">
            <h1>Welcome to BetBud!</h1>
        </div>

        <div class="w-32 flex justify-center items-center place-content-center"> <!--falta acomodar la imagen al medio -->
            <img src="./images/Logo BetBud.png">
        </div>

        <div class="text-center">

                <div class="text-center">
                    <div class="inline-flex gap-10 m-4 pe-10">
                        <label class="pe-10" style="color: white">Are you new here?<br>Get started!</label>
                        <a href="/signup"><button class="bg-black border-2 border-amber-600 text-white font-bold py-2 px-20 rounded border-yellow-500">Sign Up
                        </button></a>
                    </div>
                <br>
                <br>
                <div class="inline-flex gap-10 m-4 pe-10">
                    <label class="pe-10" style="color: white">Already a customer?</label>
                    <a href="/login"><button class="bg-black border-2 border-amber-600 text-white font-bold py-2 px-20 rounded border-yellow-500">Login
                    </button></a> 
                </div>
                </div>

                </form>                  
            </div>          
        </div>