 <div>
            <img  class="w-full h-20" src="/tophome.png">
        </div>

        <div class="w-32 flex justify-center items-center place-content-center"> <!--falta acomodar la imagen al medio -->
            <img src="/Logo BetBud.png">
        </div>

        <div class="text-center my-8">
            <h1>Get online to see your new bets!</h1>
        </div>

        <div class="text-center">
            <div>
                <form action="/login" method="post">
            </div>

                <div class="text-center grid-cols-2">
                    <div class="inline-flex gap-8 m-4 pe-10">
                        <label class="pe-10">User Name:</label>
                        <input class="bg-black text-white border-2 border-yellow-500" type="text" name="username"/>
                    </div>
                </div>

                <div class="text-center grid-cols-2">
                    <div class="inline-flex gap-20 m-4 pe-10">
                        <label>Mail:</label>
                        <input class="bg-black text-white border-2 border-yellow-500" type="text" name="mail"/>
                    </div>
                </div>

                 <div class="text-center grid-cols-2">
                    <div class="inline-flex m-4 gap-10 pe-10">
                        <label>Password:</label>
                        <input class="bg-black text-white border-2 border-yellow-500" type="password" name="password"/>
                    </div>
                </div>
                
                <div class="text-center">
                    <div class="inline-flex space-x-10 m-10">
                        <input class="btn btn-primary bg-black text-white border w-24 h-10 border-yellow-500" type="submit" value="Cancel"/>
                        <input class="btn btn-primary bg-black text-white border w-24 h-10 border-yellow-500" type="submit" value="Log In"/>
                    </div>
                </div>

                </form>                  
            </div>          
        </div>