<div>
    <img class="w-full h-20" src="/tophome.png">
</div>

<div class="w-32 flex justify-center items-center place-content-center"> <!--falta acomodar la imagen al medio -->
    <img src="/Logo BetBud.png">
</div>

<div class="text-center my-8">
    <h1>Get online to see your new bets!</h1>
</div>

<div class="text-center">
    <div>
        <form >

            <div class="text-center grid-cols-2">
                <div class="inline-flex gap-8 m-4 pe-10">
                    <label class="pe-10">User Name:</label>
                    <input class="bg-black text-white border-2 border-yellow-500" type="text" id="username-login" />
                </div>
            </div>

            <div class="text-center grid-cols-2">
                <div class="inline-flex gap-20 m-4 pe-10">
                    <label>Mail:</label>
                    <input class="bg-black text-white border-2 border-yellow-500" type="text" id="email-login" />
                </div>
            </div>

            <div class="text-center grid-cols-2">
                <div class="inline-flex m-4 gap-10 pe-10">
                    <label>Password:</label>
                    <input class="bg-black text-white border-2 border-yellow-500" type="password" id="password-login"/>
                </div>
            </div>

            <div class="text-center">
                <div class="inline-flex space-x-10 m-10">
                    <button class="btn btn-primary bg-black text-white border w-24 h-10 border-yellow-500" type="submit-cancel">
                        <a>Cancel</a>
                        </button>
                    <button class="btn btn-primary bg-black text-white border w-24 h-10 border-yellow-500" type="submit">
                        <a>Login</a>
                        </button>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="./js/login.js"></script>